<div class="grid">
    <header class="header">
      <h1>Events</h1>
    </header>
    <nav class="nav-bar">
      <div class="page-routes">
        <ul>
          <li>
            <a routerLink="" >Home</a>
          </li>
          <li>
            <a routerLink="/events">Events</a>
          </li>
          <li>
            <a routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="signin-nav">
        <ul>
          <li>
            <a routerLink="">Sign-In</a>
          </li>
        </ul>
      </div>
    </nav>
  
    <section class="map-container">
      <app-map [markers]="allEvents"></app-map>
    </section>
  
    <section class="list-container">
      <app-events-list [events]="allEvents" header="All Events">
      </app-events-list>
    </section>
  
    <div class="footer">
      <h5>Made by <a href="https://www.linkedin.com/in/dylan-dubois/">Dylan Dubois</a></h5>
      <h5>Current &copy; 2018</h5>
    </div>
  
  
  </div>