<div class="grid">
  <header class="header">
    <h1>Events</h1>
  </header>
  <nav class="nav-bar">
      <div class="page-routes">
        <ul>
          <li>
            <a routerLink="" >Home</a>
          </li>
          <li>
            <a routerLink="/events">Events</a>
          </li>
          <li>
            <a routerLink="/discover">Discover</a>
          </li>
        </ul>
      </div>
      <div class="signin-nav">
        <ul *ngIf="!user; else logout">
          <li>
            <a (click)="displaySignin = !displaySignin">Sign-In</a>
          </li>
        </ul>
        <ng-template #logout>
            <div class="profile-dropdown">
              <div class="dropdown-header" (click)="displayDropdown = !displayDropdown">
                <img [src]="user.photoURL"/>
                <a>{{ user.displayName }}</a>
            </div>
              <ul *ngIf="displayDropdown" class="dropdown-list">
                <li>Profile</li>
                <li>Settings</li>
                <li (click)="userLogout()">Logout</li>
              </ul>
            </div>
        </ng-template>
      </div>
    </nav>

  <section class="map-container">
    <app-map [markers]="allEvents" [selectedEvent]="selectedEvent"></app-map>
  </section>

  <section class="list-container">
    <app-events-list [events]="allEvents" header="Events" [user]="user" (selectedEvent)="eventSelected($event)">
    </app-events-list>
  </section>

  <div class="footer">
    <h5>Made by
      <a href="https://www.linkedin.com/in/dylan-dubois/">Dylan Dubois</a>
    </h5>
    <h5>Current &copy; 2018</h5>
  </div>

  <app-modal-signin *ngIf="displaySignin" (close)="onClose($event)">
  </app-modal-signin>


</div>