@import '../..//../styles.scss';

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: $main-font;
}

.modal-body {
    overflow: scroll;
}

.modal-header {
    background: $primary-light;
    text-align: center;
    padding: .5em;
    box-shadow: 0 3px 15px rgba(0,0,0,0.4);
    h1 {
        display: inline;
        padding-left: 28px;
    }

    a {
        margin-top: -4px;
        padding: 8px;
        float: right;
        cursor: pointer;
    }
}

    .event-creation-form {
        background: $primary-light;
        margin: 1em;
        padding: 1em;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
        label {
            font-size: 1.5em;
            margin: 1em 0;
        }

        input {
            font-size: 1em;
            color: $primary-light;
            margin: .5em 0;
            padding: .5em;
        }

        .name-form {
            input {
                width: 45%;
            }
        }

        .form-group {
            textarea{
                color: $primary-light;
                margin: .5em 0;
                padding: .5em;
                width: -webkit-fill-available;
                font-size: 1em;
                
            }
        }

        agm-map {
            margin: 1em;
            box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
        }

        .post-btn{
            background: $primary-light;
            padding: .5em 1.5em;
            left: 29%;
            margin: 1em;
            position: relative;
            font-size: 1.7em;
            cursor: pointer;
            border: none;
            box-shadow: 0 3px 15px rgba(0,0,0,0.4);
            
            i {
                width: 20px;
            }
        }

        .post-btn:focus {
            outline: none;
        }
    }
@media only screen and (min-width: 700px) {

    .modal-body {
        box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    }
}
