<div class="grid">
  <header class="header">
    <h1>Discover</h1>
  </header>
  <nav class="nav-bar">
    <div class="page-routes">
      <ul>
        <li>
          <a routerLink="" >Home</a>
        </li>
        <li>
          <a routerLink="/events">Events</a>
        </li>
        <li>
          <a routerLink="/discover">Discover</a>
        </li>
      </ul>
    </div>
    <div class="signin-nav">
      <ul>
        <li>
          <a (click)="displaySignin = !displaySignin">Sign-In</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="footer">
    <h5>Made by <a href="https://www.linkedin.com/in/dylan-dubois/">Dylan Dubois</a></h5>
    <h5>Current &copy; 2018</h5>
  </div>

  <app-modal-signin *ngIf="displaySignin" (close)="onClose($event)">  
  </app-modal-signin>

</div>