<div class="event-details-modal">
  <div class="modal-body">
    <div class="modal-header">
      <h1>{{ event.name }}</h1>
      <a (click)="onClose()">
        <i class="material-icons">close</i>
      </a>
    </div>
    <div class="event-details">
      <div class="publisher-header">
        <img [src]="event.publisher.photoURL"/>
        <h1>{{ event.publisher.name }}</h1>
      </div>
      <h2>Posted {{convertStartToString(event.start)}}</h2>
      <h2>Event Type: {{ event.type }}</h2>
      <h2>Description:</h2>
      <p>{{ event.description }}</p>
    </div>
    <button class="like-btn">
        <i class="material-icons">
          thumb_up_alt
        </i>
      </button>
  </div>
</div>