@import '../..//../styles.scss';

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: $main-font;
}

.modal-header {
    h1 {
        background: $primary-light;
        text-align: center;
        padding: .5em;
    }
}

@media only screen and (min-width: 700px) {

}
