@import '../..//../styles.scss';

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: $main-font;
}

.modal-header {
    background: $primary-light;
    text-align: center;
    padding: .5em;

    h1 {
        display: inline;
        padding-left: 28px;
    }

    a {
        padding: 8px;
        float: right;
        cursor: pointer;
    }
}

@media only screen and (min-width: 700px) {

}
