@import '../..//../styles.scss';

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: $main-font;
}
.grid {
    background: $primary-light;
}

.map-container {
    margin-bottom: 1em;
}

.list-container {
    background: white; 
    height: 500px;
}
