@import '../..//../styles.scss';

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: $main-font;
}

.header {
    background: url("https://images.pexels.com/photos/325521/pexels-photo-325521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
}

.map-container {
    margin: 1em;
}

.list-container {
    background: white; 
    height: 500px;
    margin: 1em;
}

@media only screen and (min-width: 700px) {
    .header {
        background-position: 25% 80%;
    }

    .list-container {
        grid-column: 1/2;
        margin-left: 1em;
    }

    .map-container {
        grid-column: 2/5;
        margin-right: 1em;
    }

}
