<div class="grid">
  <header class="header">
    <h1>Current</h1>
  </header>
  <nav class="nav-bar">
    <div class="page-routes">
      <ul>
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">Events</a>
        </li>
      </ul>
    </div>
    <div class="signin-nav">
      <ul>
        <li>
          <a href="">Sign-In</a>
        </li>
      </ul>
    </div>
  </nav>

  <section class="map-container">
    <app-map></app-map>
  </section>

  <section class="list-container">
    <app-events-list>
    </app-events-list>
  </section>

  <div class="footer">
    Current &copy; 2018
  </div>


</div>