<div class="list-header" *ngIf="!displayEventSearch">
    <i class="material-icons" style="grid-column: 1/2" (click)="addEvent()">
        add
    </i>
    <i [ngClass]="currentFilter == 'likes' ? 'selected-filter' : ''" class="material-icons" style="grid-column: 2/3" (click)="sortBy('likes')">
        thumb_up
    </i>
    <h1 style="grid-column: 3/5">Discover</h1>
    <i [ngClass]="currentFilter == 'type' ? 'selected-filter' : ''" class="material-icons" style="grid-column: 5/6" (click)="sortBy('type')">
        class
    </i>
    <i class="material-icons" style="grid-column: 6/7" (click)="eventSearch()">
        search
    </i>
</div>

<!-- if search is active -->
<div class="list-header search" *ngIf="displayEventSearch">
    <input type="text" [(ngModel)]="searchKeys" maxlength="25" placeholder="Search" (input)="filterChange($event)">
    <i class="material-icons" style="grid-column: 6/7" (click)="eventSearch()">
        search
    </i>
</div>

<div class="events-list">
    <div class="list-item" *ngFor="let event of filteredEvents ? filteredEvents : events" (click)="onEventSelect(event)">
        <h2>{{event.name}}</h2>
        <p>{{ convertStartToString(event.start)}} - {{ event.type }} - {{event['eventLikers'].length}} {{event['eventLikers'].length
            == 1 ? 'like' : 'likes'}}</p>
        <div class="progress-background">
            <div class="progress-blue" style="height:24px;" [style.width.%]="(event['eventLikers'].length / 10) * 100"></div>
        </div>
    </div>
</div>

<app-modal-event-creation *ngIf="displayEventAdd" [user]="user" (close)="onClose($event)"></app-modal-event-creation>