/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Amaranth");
@import '~material-design-icons/iconfont/material-icons.css';

$primary-dark: #00A4DB;	// Main Primary color */
$primary: #1FC5FB;
$primary-light: #05C1FF;
$dark: #00749B;
$prima: #005B7A;  

$main-font: Lobster;
$secondary-font: Amaranth;

body {
    margin: 0;
    background: $primary-dark;
}

body.modal-open {
    overflow: hidden;
}

header {
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    padding: 2em 0;
}

.list-container {
    background: white; 
    height: 500px;
}

.map-container, .list-container {
    margin-top: 1em;
}


.nav-bar {
    text-align: center;
    background: $primary-light;
    margin-top: -1em;
    padding: .7em;
    ul {
        list-style: none;
        display: inline;
        li {
            display: inline;
        }

        a {
            text-decoration: none;
            padding: 0 20px;
            font-size: 2em;
        }
    }

    .signin-nav {
        margin: 10px;

        .profile-dropdown {
            img {
                height: 28px;
                position: relative;
                top: 4px;
                border: 1px solid white;
            }

            a {
                text-decoration: none;
                padding: 0 16px;
                font-size: 2em;
            }

            .dropdown-list {
                z-index: 10;
                background: $primary-light;
                li {
                    display: list-item;
                    font-size: 1.5em;
                    padding: .2em 1em;
                    font-family: $secondary-font;
                }
            }
        }
    }
}

.footer {
    text-align: center;
    padding: 1.5em;

    h5 {
        font-size: 1.15em;
        font-weight: 100;

        a {
            text-decoration: none;
        }
    }
}

app-modal-signin{
    background: rgba(0,0,0,0.3);
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    height: 220%;
    .modal-body{
        height: 500px;
        width: 100%;
        top: 20%;
        position: absolute;
        background: $primary-dark;
    }

}

app-modal-event-details{
    background: rgba(0,0,0,0.3);
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    height: 240%;
    z-index: 10;
    .modal-body{
        height: 425px;
        width: 100%;
        top: 20%;
        position: absolute;
        background: $primary-dark;
    }

}


@media only screen and (min-width: 700px) {
    .grid {
        display: grid;
        grid-auto-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    .header {
        display: grid;
        grid-column: 1/5;
        font-size: 3em;
    }
    .nav-bar {
        display: grid;
        grid-column: 1/5;
        margin-bottom: 1em;
        box-shadow: 0px 15px 15px rgba(0,0,0,0.4);
        ul {
            list-style: none;
            display: block;
            text-align: center;
            li {
                display: inline;
            }
    
            a {
                text-decoration: none;
                padding: 10px 20px;
            }
            a:hover {
                color: $primary-light;
                cursor: pointer;
                background: white;
            }
        }

        .signin-nav {
            grid-column: 4/5;
            margin: 0;
            margin-right: 1em;

            ul {
                float: right;

                a:hover {
                    background: white;
                    color: $primary-light;
                }
            }

            .profile-dropdown {
                float: right;
                cursor: pointer;

                .dropdown-list {
                    margin-top: .6em;
                    position: absolute;
                    box-shadow: 0px 15px 15px rgba(0,0,0,0.4);
                    width: 11%;
                    right: 1.5%;
                    li {
                        text-align: right;
                    }
                    li:hover {
                        background: white;
                        color: $primary-light;
                    }

                }
            }
        }

        .page-routes {
            grid-column: 1/4;
            margin-left: 1em; 
            ul {
                float: left;
            }
        }
    }

    .map-container {
        display: grid;
        margin-top: 0;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    }

    .list-container {
        margin: 0;
        display: grid;
        height: 500px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.4);

        agm-map {
            width: 100%;
        }
    }

    .footer {
        display: grid;
        grid-column: 1/5;
        text-align: center;
        padding: 1.5em;
    }

    app-modal-signin{
        height: 130%;
    
        .modal-body{
            height: 400px;
            width: 500px;
            top: 25%;
            left: 32.5%;
        }
    
    }

    app-modal-event-details{
        height: 130%;
    
        .modal-body{
            height: 425px;
            width: 500px;
            top: 25%;
            left: 32.5%;
        }
    
    }
}