@import '../..//../styles.scss';
* {
    padding: 0;
    margin: 0;
}

.list-header {
    text-align: center;
    align-content: center;
    justify-content: center;
    background: $primary-light;
    box-shadow: 0 3px 15px rgba(0,0,0,0.4);
    padding: .5em;
    h1 {
        font-size: 2em;
        padding: .5em;
        display: inline;
    }

    i {
        display: inline;
        font-size: 2em;
        cursor: pointer;
        padding: 4px;
    }
}

.events-list {
    overflow: scroll;
    max-height: 430px;

    .list-item {
        padding: .5em 1em;
        border-bottom: 2px solid $primary;
        transition: $button-transition;
        h2 {
            color: $primary;
            font-family: $secondary-font;
        }
    }

    .list-item:hover {
        background: $primary-dark;
        transform: scaleY(1.1);
        cursor: pointer;
        h2 {
            color: white;
            overflow: hidden;
        }
    }
}