<div class="list-header">
    <i class="material-icons" style="float:left" (click)="addEvent()">
        add
    </i>
  <h1>{{header}}</h1>
  <i class="material-icons" style="float: right">
      filter_list
  </i>
</div>
<div class="events-list">
  <div class="list-item" *ngFor="let event of events" (click)="onEventSelect(event)">
      <h2>{{event.name}}</h2>
  </div>
</div>

<app-modal-event-details *ngIf="displayEvent" (close)="onClose($event)" [event]="event"></app-modal-event-details>
<app-modal-event-creation *ngIf="displayEventAdd" [user]="user" (close)="onClose($event)"></app-modal-event-creation>

