<div class="list-header" *ngIf="!displayEventSearch">
    <i *ngIf="header == 'Events'" class="material-icons" style="float:left" (click)="addEvent()">
        add
    </i>
    <i *ngIf="header == 'Events'" [ngClass]="currentFilter == 'likes' ? 'selected-filter' : ''" class="material-icons" style="float:left" (click)="sortBy('likes')">
            thumb_up
        </i>
  <h1>{{header}}</h1>
  <i *ngIf="header == 'Events'" class="material-icons" style="float: right" (click)="displayEventSearch = !displayEventSearch">
      search
  </i>
  <i *ngIf="header == 'Events'" [ngClass]="currentFilter == 'type' ? 'selected-filter' : ''" class="material-icons" style="float: right" (click)="sortBy('type')">
        class
    </i>
</div>

<!-- if search is active -->
<div class="list-header search" *ngIf="displayEventSearch">
        <input type="text" maxlength="25" placeholder="25 characters or less">
    <i *ngIf="header == 'Events'" class="material-icons" style="float: right" (click)="displayEventSearch = !displayEventSearch">
        search
    </i>
</div>


<div class="events-list">
  <div class="list-item" *ngFor="let event of filteredEvents ? filteredEvents : events" (click)="onEventSelect(event)">
      <h2>{{event.name}}</h2>
      <p>{{ convertStartToString(event.start)}} - {{ event.type }} - {{event.likes}} {{event.likes == 1 ? 'like' : 'likes'}}</p>
  </div>
</div>
<app-modal-event-creation *ngIf="displayEventAdd" [user]="user" (close)="onClose($event)"></app-modal-event-creation>