@import '../..//../styles.scss';
* {
    padding: 0;
    margin: 0;
}

.list-header {
    text-align: center;
    align-content: center;
    justify-content: center;
    background: $primary-dark;
    box-shadow: 0 3px 15px rgba(0,0,0,0.4);

    h1 {
        font-size: 2em;
        padding: .5em;
    }
}